body {
    background-color: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.384);
    margin: auto;
}

img {
    margin-top: 20px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.664);
}

footer {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.486);
    font-style: italic;
}